/training_data/
/data/demo_virtual_diagnostician.db
/data/integration_test.db
/data/virtual_diagnostician.db
credentials
data
trained-models
/.idea
# Ignore Python cache files
__pycache__/
/.idea
*.pyc
*.meta

/exports
